.body{
   background-color:#EFEFEF;
}
.container {
    margin: 0;
    padding: 0;
    width: 80%;
    min-width: 960px;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    color: #4f4f4f;
    margin-left:auto;
    margin-right:auto;
    display:block;
    background-color:#EFEFEF;
}
.header {
    background-color: #EFEFEF;
}
.header_top {
    background: none repeat scroll 0 0 #313131;
}
.header_top_res {
    margin: 0 auto;
    width: 960px;
}
.header_top_res p {
    padding: 8px 8px 8px;
    color: #fff; 
    text-align: right;
}
.header_top_res welcome p{
    text-align:center;
    color:#fff;
    font-size:250%;
}
.header_top_res p a {
    color: #E86B6B;
}

fieldset {
    padding: 18px 15px;
    border:none;
    background-color:#b22222;
}
.footer{
    display: inline;
}
.footer_top{
    color: #fff;
    padding: 18px 15px;
    border:none;
    background-color:#b22222;
}
.footer_bottom{
    background: none repeat scroll 0 0 #313131;
    padding: 3px 8px;
}
    
.footer_bottom p a{
    font-size:150%;
    display:block;
    text-align: center;
    color:#E86B6B;
}
.button {
  display: block;
  border-radius: 4px;
  background-color: #313131;
  border: none;
  color: #E86B6B;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.login fieldset form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.login_form {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}